<div class="container">
  <div>
    <img src="../../assets/img/FOTA.jpeg" alt="" class="profile" />
  </div>
  <div>
    <p>Nome: Rhuan Pablo Guimarães Moura</p>
    <p>Idade: 21</p>
    <p>Sexo: Masculino</p>
    <p>Endereço: Rua do zé da manga, 1000</p>
    <p>Matricula: 20191011110082</p>
    <p>CPF: 123.456.789-00</p>
    <p>RG: 123456789</p>
    <p>Telefone: (99) 99999-9999</p>
    <p>Curso: Eng.Software</p>
    <p>Periodo: 5</p>
    <p>Instituição: Universidade Rio Verde UniRV</p>
  </div>
</div>
